body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
}

.admin-box {
    width: 700px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    background: #2563eb;
    color: white;
    border: none;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #ef4444;
    color: white;
    text-decoration: none;
}

.user-card {
    background: #f3f4f6;
    padding: 15px;
    margin-top: 15px;
}
